/******************************************** variables ****************************************/
:root {
  --main-color: #57acdc;
  --main-text-color: #939393;
  --alt-text-color: #e5e5e5;
  --main-bg-color: #1e1e1e;
  --alt-bg-color: #121212;
}

/********************************************* general ******************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-family: Poppins;
}

/** main  */
.main-container {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 100vh;
  grid-template-areas: "sidebar main";
}
main {
  padding: 30px;
}

/************************************** sidebar *****************************************/
.sidebar {
  grid-area: "sidebar";
  background-color: var(--alt-bg-color);
}
.sidebar > div {
  padding: 30px;
  padding-bottom: 0;
}
.sidebar .new-folder-btn {
  width: 128px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.sidebar .new-folder-btn:hover {
  filter: brightness(1.1);
}
/* navigation links */
.sidebar ul {
  padding: 30px 0;
  list-style: none;
  border-bottom: var(--main-bg-color) 1px solid;
}
.sidebar li {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 15px 30px;
  display: flex;
  gap: 16px;
  cursor: pointer;
}
.sidebar li.active {
  position: relative;
  color: var(--main-color);
}
.sidebar li.active::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 32px;
  top: 12px;
  left: 0;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--main-color);
}
/* storage section */
.sidebar .storage .title {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  display: flex;
  gap: 16px;
  cursor: pointer;
}
.sidebar .storage .progress {
  width: 170px;
  height: 200px;
  padding: 20px;
  margin-top: 25px;
  border-radius: 10px;
  background-color: var(--main-bg-color);
}
.sidebar .progress-bar {
  position: relative;
}
.sidebar .storage .progress-bar circle.fg {
  transform: rotate(-90deg);
  transform-origin: 125px 125px;
  stroke: var(--main-color);
}
.sidebar .storage .progress-bar circle.bg {
  stroke: var(--alt-bg-color);
}
.sidebar .storage .progress-bar .percent {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 22.5px;
}

.sidebar .storage .progress .inGB {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

/****************************************** navbar *******************************************/
.navbar {
  display: grid;
  height: 48px;
  grid-template-columns: 4fr 3fr 90px;
  grid-template-rows: none;
  grid-template-areas: "search upload profile";
  gap: 24px;
}
/* search bar */
.navbar .search-bar {
  grid-area: search;
  display: flex;
  height: 48px;
  border-radius: 10px;
  border: 1px solid var(--main-text-color);
}
.navbar .search-bar input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.navbar .search-bar input::placeholder {
  font-size: 12px;
  line-height: 18px;
}
.navbar .search-bar input:focus {
  outline: none;
}
.navbar .search-bar input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--main-bg-color) inset;
  -webkit-text-fill-color: var(--main-text-color);
}

.navbar .search-bar img {
  margin: 12px 16px;
}

/* upload file */
.navbar .upload {
  grid-area: upload;
}
.navbar .upload label {
  display: flex;
  align-items: center;
  cursor: pointer;

  height: 48px;
  border: 1px dashed;
  border-radius: 10px;
  font-size: 12px;
}
.navbar .upload img {
  margin: 12px 16px;
}
.navbar .upload span {
  color: var(--main-color);
  text-decoration: underline;
}
/* profile */
.navbar .profile {
  height: 100%;
  grid-area: profile;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .profile_link {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #57acdc11;
  border-radius: 100%;
}
/* user info section */
header .user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
header .user-info h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: var(--alt-text-color);
}
header .user-info img {
  cursor: pointer;
}
/****************************************** files filter ******************************************/
.files .filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-top: 2px solid #fafafa11;
}
.files .filter .info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 5px 0;
  padding-inline-end: 10px;
}
.files .filter .filter-buttons {
  display: flex;
}
.files .filter .filter-buttons > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  padding-bottom: 8px;
}
.files .filter .filter-buttons img {
  width: 20px;
  height: 20px;
}
.files .filter .filter-buttons .sorting {
  width: 80px;
  border-right: 1px solid #fafafa11;
  border-left: 1px solid #fafafa11;
}
.files .filter .filter-buttons .other {
  min-width: 150px;
}
/****************************************** files table ******************************************/
.files table {
  width: 100%;
  border-collapse: collapse;
}
.files table tr {
  width: 100%;
  display: grid;
  grid-template-columns: 20px repeat(5, 1fr);
}

.files table th {
  grid-area: auto;
  width: 100%;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--main-text-color);
  padding: 16px 0;
  border-bottom: 1px solid var(--main-text-color);
}
.files table td {
  padding: 16px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--alt-text-color);
  border-bottom: 1px solid var(--main-bg-color);
}
